body{
    background-color: #E9ECF8;
    font-family: 'Inter', sans-serif;
}
/*rows="15" cols="30"*/
textarea{
    height: 500px;
    width: 90%;
    resize: none;
    font-family: 'Inter', sans-serif;
}
::placeholder {
    font-family: 'Inter', sans-serif;
    color: #0A3871;
    font-style: italic;
    opacity: .5;
}

.logo{
    width: 128px;
    height: 48px;
    padding: 40px 40px;
}
.conteiner{
    width: 940px;
    padding-left: 15%;
}
.ingresoTexto{
    float: left;
    padding: 10px;
    width: 500px;
}
.textonormal{
    font-family: 'Inter', sans-serif;
    background-color: #E9ECF8;
    color: #0A3871;
    border: none;
    font-size: 1.3em;
}

.textonormal:focus {
    outline: none;
}

.respuesta{
    float: left;
    background-color: white;
    width: 300px;
    height: 600px;
    margin-left: 10%;
    border-radius: 50px;
    box-shadow: 0 5px 20px #E9ECF8;
}
.advertencia{
    font-size: 0.7em;
    color: #495057;
}
.botones_encriptar, .botones_desencriptar{
    float: left;
    margin-top: 2%;
    width: 45%;
    height: 50px;
    margin-right: 5%;
    border-radius: 20px;
    border-width: 0.8px;
}
.botones_encriptar{
    background-color: #0A3871;
    color: #D8DFE8;
    border-color: #052051;
}

.botones_encriptar:hover{
    background-color: #0e51a3;
}

.botones_desencriptar {
    background-color: #D8DFE8;
    border-color: #0A3871;
    color: #0A3871;
}

.botones_desencriptar:hover {
    background-color: #b5bdc7;
}

.respuesta{
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
.nada #nadaTitulo{
    font-size: 1.3em;
    padding-top: 5%;
}
.nada #nadaDescripcion{
    font-size: 0.7em;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    opacity: 0.5;
}
.nadarespuesta{
    width: 70%;
    padding-top: 50%;
    padding-left: auto;
}
.resultado{
    padding-top: 10%;
    width: 90%;
    padding-left: 5%;
    height: 50%;
}

#final{
    border: none;
    font-size: 1.1em;
    height: 450px;
}

#final:focus{
    outline: none;
}

.botones_copiar{
    background-color: #ffffff;
    border-color: #052051;
    border-width: 0.8px;
    width: 60%;
    height: 50px;
    border-radius: 15px;
    color: #0A3871;
    margin-top: 20px;
    transition: background-color 0.1s linear 0.1s;
}
.botones_copiar:hover{
    background-color: #e2e2e2;
}